.DS_Store
Assets/App Icon/Icon-60@2x.png
Assets/App Icon/Icon-60@3x.png
Assets/App Icon/Icon-76.png
Assets/App Icon/Icon-76@2x.png
Assets/App Icon/Icon-83.5@2x.png
Assets/App Icon/Icon-Small-40 copy.png
Assets/App Icon/Icon-Small-40@2x.png
Assets/App Icon/Icon-Small-60.png
Assets/App Icon/Icon-Small-60@2x.png
Assets/App Icon/Icon-Small-60@3x.png
Assets/App Icon/Icon-Small.png
Assets/App Icon/Icon-Small@2x.png
Assets/App Icon/Icon-Small@3x.png
Assets/App Icon/iTunesArtwork.png
Assets/App Icon/iTunesArtwork@2x.png
