<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D498BDB81C9AD25B00B8FEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D498BDCE1C9AD25B00B8FEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D498BDD91C9AD25B00B8FEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
